/* High Level Elements */
html {
  overflow: hidden;
}

html, body, #root, .App, #interface-section {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* App View CSS */
#view-section {
  border: 1px black solid;
  overflow: scroll;
  width: 100%;
  overflow-x: hidden;
  background-color: #C8DBBE;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#interface-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

/* Navigation Bar */
.navigation-bar {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  height: 4rem;
}

/* Navigation Buttons */
.navigation-button {
  margin: 0px;
  padding: 0.5rem;
  width: 100%;
  align-items: center ;
  background-color: #1D2E28;
  color: #EDE4E0;
  height: 3rem;
}

.navigation-button:hover {
  color: #E3F0FF;
  cursor: pointer;
}

/* Navigation View Selection */
#landslide-view-selected, #forestcover-view-selected, #analysis-view-selected {
  background-color: #18392B;
}

#landslide-view-unselected, #forestcover-view-unselected, #analysis-view-unselected {
  background-color: #1D2E28;
}