#country-selector {
  width: 12rem;
  height: 3rem;
  border: 3px #bec7c7 solid;
  font-weight: bold;
  color: #155d75;
  text-align: center;
  font-size: 20px;
}

.yaxislayer-above, .xaxislayer-above, .xy2-y {
  font-weight: bold;
}