/* Sidebar Highest Level Element */
.sidebar {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  height: 100%;
}

/* Sidebar Icon */
.sidebar-icon {
  color: #bec7c7;
  margin: 0px;
  transition: all 300ms ease;
  height: 5rem;
}

.sidebar-icon:hover {
  color: #E3F0FF;
}

.icon-container {
  background-color: #00212E;
  width: 5rem;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
}

.sidebar-input {
  background-color: #565F77;
}

#option-icons {
  display: flex;
  width: 5rem;
  flex-direction: column;
  height: 100%;
  background-color: #053041;
}

.sidebar-content {
  height: calc(100vh - 4rem);
  width: 100%;
  display: none;
  flex-direction: column;
}

.option-icon-unselected, .option-icon-selected {
  color: #bec7c7;
  padding: 1rem;
}

.option-icon-unselected:hover, .option-icon-selected:hover {
  color: #E3F0FF;
  cursor: pointer;
}

.option-icon-selected {
  padding: 1rem;
  background-color: #155d75;
}

.header-container {
  height: 5rem;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.sidebar-title {
  color: #bec7c7;
  font-size: 35px;
  background-color: #00212E;
  margin: 0;
  height: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fa-angles-right {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sidebar-text-container {
  height: calc(100vh - 9rem);
  width: calc(100% - 4rem);
  z-index: 1;
  background-color: #224D5C;
  overflow-y: auto;
  padding: 2rem;
  padding-top: 1.5rem;
}

.option-description li {
  list-style-type: square;
}

.sidebar-text {
  margin: 1rem;
}

.option-content {
  width: 100%;
  color: #bec7c7;
  text-align: justify;
}

.tooltip-1, .tooltip-2, .tooltip-3, .tooltip-4 {
  position: absolute;
  left: 8rem;
  border-radius: 8px;
  transform: translateX(-50%);
  background-color: #021922;
  color: #E3F0FF;
  padding: 0.2rem;
  padding-right: 0.4rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: none;
  z-index: 2;
}

.tooltip-1::before, .tooltip-2::before, .tooltip-3::before, .tooltip-4::before {
  content: "";
  position: absolute;
  left: 0.05rem;
  top: 45.5%;
  rotate: 45deg;
  transform: translateX(-60%);
  border: 8px solid;
  border-color: #00000000 #00000000 #021922 #021922;
}

.landslide-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#selected-contributor:hover .tooltip-1, #selected-settings:hover .tooltip-2, #selected-filter:hover .tooltip-3, #selected-description:hover .tooltip-4 {
  z-index: 2;
  opacity: 1;
  display: block;
}

#unselected-contributor:hover .tooltip-1, #unselected-settings:hover .tooltip-2, #unselected-filter:hover .tooltip-3, #unselected-description:hover .tooltip-4 {
  z-index: 2;
  opacity: 1;
  display: block;
}

#end-year, #start-year {
  border: 3px #bec7c7 solid;
  font-weight: bold;
  color: #155d75;
  text-align: center;
}

#year-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1em;
}

.submit-query {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  justify-content: center;
  flex-direction: row;
}

#query-map {
  border: 3px #7a94a1 solid;
  font-weight: bold;
  color: #155d75;
  width: 5rem;
  height: 1.90rem;
  font-size: 16px;
}

#query-map:hover {
  cursor: pointer;
  border-color: #053041;
}

.year-range {
  font-size: 16px;
  width: 5em;
}

.option-content h2 {
  margin-top: 0px;
}

.MuiBox-root {
  padding-left: 1rem;
}

.link-div:hover {
  color: #E3F0FF;
  cursor: pointer;
}

.link-div a {
  color: #bec7c7;
  text-decoration: none;
}

.link-div a:hover {
  color: #E3F0FF;
}

#awesome-icon:hover {
  cursor: pointer;
}

/* Mobile View of the App */
@media (max-width: 600px) {
  .container-view {
    width: 100%;
    height: 100%;
  }

  .sidebar {
    width: 100% !important;
    height: 100%;
    flex-direction: column;
    position: relative;
  }

  .sidebar-content {
    height: calc(100% - 5rem);
    position: absolute;
    order: 1;
  }

  .icon-container {
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 5rem;
    order: 2;
    bottom: 0;
  }

  .MuiBox-root {
    padding-left: 0;
  }

  .sidebar-icon {
    width: 5rem;
    rotate: -90deg
  }

  #option-icons {
    flex-direction: row;
    width: 100%;
  }

  #option-icons div svg {
    padding-top: 0.5rem
  }

  #map {
    margin-left: 0;
    width: 100%;
    height: calc(100% - 9rem);
    z-index: 1;
  }

  #selected-contributor:hover .tooltip-1, #selected-settings:hover .tooltip-2, #selected-filter:hover .tooltip-3, #selected-description:hover .tooltip-4 {
    display: none;
  }
  
  #unselected-contributor:hover .tooltip-1, #unselected-settings:hover .tooltip-2, #unselected-filter:hover .tooltip-3, #unselected-description:hover .tooltip-4 {
    display: none;
  }
}