/* General Views */
#view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* background-color: #565F77; */
}

#image-preloading {
  z-index: 1;
  position: absolute;
}

/* Heatmap Element */
#map {
  background: #aad3df;
  position: absolute;
  z-index: 0;
  margin-left: 5rem;
  width: calc(100% - 5rem);
  height: calc(100% - 4rem);
  min-width: 1rem;
  min-height: 1rem;
}

.container-view {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* Custom Sidebar Scrollbar */
.sidebar-text-container::-webkit-scrollbar {
  width: 1em;
}
 
.sidebar-text-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.sidebar-text-container::-webkit-scrollbar-thumb {
  background-color: #053041;
}

#country-select {
  border-radius: 5px;
  width: 12rem;
  padding: 10px;
  margin-top: 5px;
  margin-left: 10px;
  border: 3px #bec7c7 solid;
  font-weight: bold;
  color: #155d75;
  text-align: center;
  font-size: 16px;
}

.js-plotly-plot {
  position: absolute !important;
  z-index: 0;
  margin-left: 5rem !important;
  width: calc(100% - 5rem);
  height: calc(100% - 4rem);
  min-width: 1rem;
  min-height: 1rem;
}

.svg-container {
  min-width: 100%;
}

.main-svg {
  min-width: 100%;
}

#country-selector {
  margin-left: 1rem;
}

@media (max-width: 600px) {
  .js-plotly-plot {
    z-index: 1;
    margin-left: 0 !important;
    margin-bottom: 5rem;
    width: 100%;
    height: calc(100% - 9rem);
    min-width: 1rem;
    min-height: 1rem;
  }
}

@media (max-width: 400px) {
  .gtitle {
    font-size: 18px !important;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .gtitle {
    font-size: 20px !important;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .gtitle {
    font-size: 30px !important;
  }
}

@media (min-width: 800px) {
  .gtitle {
    font-size: 40px !important;
  }
}

.xtick > text, .ytick > text, .y2tick > text {
  font-size: 15px !important;
}